<!DOCTYPE html>
<html>
    <head>
        <title>CrickeT</title>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">

        <!-- stylesheet -->
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <!-- the header -->
        <header>
            <!-- cricket main logo -->
            <a id="logo" href="/">
                <img src="/img/Logo.png" alt="Logo">
                <span>CrickeT</span>
            </a>
            <!-- main navigation links -->
            <nav id="main-navigation">
                <ul>
                    <li><a id="dashboard" href="../dashboard">Dashboard</a></li>
                    <li><a id="defectid" href="../defect">Create Defect</a></li>
                    <li><a id="resultsid" href="../modify">Defects List</a></li>
                </ul>
            </nav>
        </header>

        <!-- MAIN CONTENT HERE -->
        <%- defineContent('hero') %>
        <!-- the footer -->
        <footer>
                <img src="/img/avatar.jpeg" alt="Footer Logo">
                <span>Naveen Dhingra<br>Copyright &copy; 2018-2020 </span>
        </footer>
    </body>
</html>
        