
<%- contentFor('hero') %>

    <!-- the content -->
    <main>
        <!-- hero content -->
        <div class="hero">
            <!-- content for the hero -->
            <div class="hero-content">
                <h1 class="hero-title">CriCKeT</h1>
                <p>The best and most comprehensive defect management tool.</p>
                <a href="#sitesection">Learn More</a>
            </div>
        </div>

        <!-- features section -->
    <div class="site-section"  id="sitesection">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>Key Features</h2>
            </div>

            <div class="feature-box">
                <img src="/img/like.png" alt="Easy to Use">
                <h5>Easy to Use</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, tenetur!</p>
            </div>

            <div class="feature-box">
                <img src="/img/faces.png" alt="Fun to Use">
                <h5>Simple and Effective Reporting</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil incidunt eum voluptatibus repellendus, iste consequuntur.</p>
            </div>

            <div class="feature-box">
                <img src="/img/heart.png" alt="Fun to Use">
                <h5>Tracking</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A velit libero culpa!</p>
            </div>

        </div>
    </div>
</main>